/************************************************/
/*********** CLASSES PERSONALIZADAS *************/

.bts-propostas-canais {
    margin: 10px -9px;
}

.btn.btn-app.ativo {
    background-color: white;
}

.logo-ico-veiculo {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    width: 40px;
    height: auto;
}

.resumo-veiculo {
    float: right;
    color: #738cb9;
    font-size: 8.5pt;
    margin-right: 10px;
}

.select-menor {
    height: 28px;
    color: #858cb9;
    font-size: 8.5pt;
}

.bt-fechar {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #af1515;
    color: white;
    font-weight: 600;
    font-size: 6pt;
    text-align: center;
    cursor: pointer;
    margin-left: 7px;
    border-radius: 15px;
    line-height: 1.95;
}

.bt-fechar.tabela {
    margin-left: 0;
}

/* altera painel de accordion*/
.accordion .panel:hover {
    background: #FFFFFF;
}
.accordion .panel-heading {
    padding: 10px 13px;
}

.x_content h4 {
    font-size: 13px;
}

/* altera tables */
.table {
    margin-bottom: 0px;
}

/* ////////////// */

.colunas-form-produtos {
    /* border: 1px solid red; */
    padding-right: 10px;
    padding-left: 6px;
    margin-bottom: 5px;
}

.colunas-form-produtos .form-control,
.container-periodos .form-control{
   height: 25px;
   font-size: 8.5pt;
}

.colunas-label-produtos {
    /* border: 1px solid blue; */
    padding-top: 5px;
    text-align: right;
    font-weight: 400;
    font-size: 8pt;
}

.colunas-label-produtos.col-sm-1 {
    font-weight: 600;
    padding: 5px 0 0 0;
}

.container-periodos {
    width: 100%;
    padding: 0 5px;
    border: 5px solid #ebebeb;
    margin: -13px 0 -4px 0;
}

.container-periodos > .table > thead > tr > th {
    padding: 3px;
    font-size: 8.5pt;
    padding-left: 0;
    padding-right: 7px;
}

.container-periodos > .table > tbody > tr > td {
    font-size: 8.5pt;
    padding-left: 0;
    padding-right: 7px;
    vertical-align: middle;
}

.infos-rodape-produto {
    color: #BEBEBE;
    font-size: 8.5pt;
    width: 100%;
    padding: 12px 0;
}

.bt-fechar-tabela {
    /* border: 1px solid red; */
    padding: 8px 5px 8px 0!important;
    width: 10px;
}

/* controles do ion.rangeSlider */
.irs-min, .irs-max, .irs-from, .irs-to {
    top:6px;
}
.irs {
    height: 35px;
}

td > .irs{
    position: relative;
    top: -9px;
}

/* modais */
@media (min-width: 768px){
    .modal-sm {
        width: 430px;
    }
}
