
{% extends "base.html" %}

{% block scriptscss %}
    <!-- NProgress -->
    <link href="{{ __BASEHTML__ }}vendors/nprogress/nprogress.css" rel="stylesheet">
    
    <!-- Ion.RangeSlider -->
    <link href="{{ __BASEHTML__ }}vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="{{ __BASEHTML__ }}vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="{{ __BASEHTML__ }}vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}


<div class="page-title">
    <div class="title_left">
    <h4>Propostas <i class="fa fa-arrow-right setatitulo"></i> Criar proposta</h4>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12" style="width:100%">
        <div class="x_panel">
            <div class="x_title">
            <h2>Dados gerais </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="btn-toolbar editor">
                    <div class="Grid campos-dados-porposta form-group" style="padding:5px 0 0 0; margin: 0;">
                        <label class="colunas-label-produtos form-group" style="/*width: 53px;*/">Agências</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <select id="proposta-agencia" class="form-control select-menor">
                                    {{selectAgencias|raw}}
                            </select>
                        </div>
 
                        <label class="colunas-label-produtos form-group" style="/*width: 43px;">Clientes</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <select id="proposta-cliente" class="form-control select-menor">
                                    {{selectClientes|raw}}
                            </select>
                        </div>
                        
                        <label class="colunas-label-produtos form-group" style="width: 85px;">Desc. cliente (%)</label>
                        <div class="colunas-form-produtos form-group" style="width: 60px;">
                            <input id="proposta-desconto-cliente" type="text" class="form-control" style="padding:6px; text-align:center" value="{{descontoProposta}}">
                        </div>

                        <label class="colunas-label-produtos form-group" style="/*width: 35px;*/">Título</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <input id="proposta-titulo" type="text" class="form-control" value="{{tituloProposta}}">
                        </div>
                        
                        <label class="colunas-label-produtos form-group" style="/*width: 47px;*/">Contato</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <input id="proposta-contato" type="text" class="form-control" value="{{contatoProposta}}">
                        </div>
                    </div>
                </div>
                 <div style="position: relative; padding-right: 0; bottom: -11px; margin-top: -6px;">
                     <div style="float:left; padding-left:3px; padding-top:6px;">
                        <div style="display:inline-block" >Período da proposta: <span id="periodo-proposta"> ---</div>
                        <div style="display:inline-block"> &nbsp; | &nbsp;  Investimento total: R$ <span id="" style="font-weight:600; color:#738cb9">0,00</span></div>
                     </div>
                    <button class="btn btn-primary" style="float:right; font-size: 9pt; margin-left:5px; margin-bottom:5px;" type="button" onclick="salvarProposta()">Salvar proposta</button>
                    <button class="btn btn-danger" style="float:right; font-size: 9pt;" type="button" onclick="excluirProposta()">Excluir proposta</button>
                </div>
            </div>
        </div>

        <div id="container-bts-veiculos" class="Grid bts-propostas-canais">
            <!-- <a id="bt-produto-alright" class="btn btn-app ativo" style="border-bottom: 3px solid #6c00e9;">
                <img src="{{ __BASEHTML__ }}imgs/bt-produto-alright-ativo.png" alt="">
            </a>

            <a id="bt-produto-alright2" class="btn btn-app">
                <img src="{{ __BASEHTML__ }}imgs/bt-produto-alright-inativo.png" alt="">
            </a> -->
        </div>

        <div id="container-veiculos" class="bloco-veiculos">

            <!-- <div class="x_panel" style="border-left: 3px solid #6c00e9;">
                <div class="x_title">
                    <h2>Button App Design</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <a class="panel-heading" role="tab" id="headingOne1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title" style="display:inline-block">Nome produto</h4>

                                </a>


                                 <div class="resumo-veiculo" style="margin-top:-30px;">
                                    <div style="display:inline-block" id="cab-produto-periodo-${this._produtoID}">10/10/17 a 10/11/17</div>
                                    <div style="display:inline-block" id="cab-produto-investimento-${this._produtoID}">R$ 00.000,00</div>
                                    <div style="display:inline-block" id="cab-produto-select-segmentacao-${this._produtoID}">
                                        <select id="select-produto-${this._produtoID}">
                                            <option value="">a</option>
                                            <option value="">b</option>
                                        </select>
                                    </div>
                                    <div id="btexcluir-produto-${this._produtoID}" class="bt-fechar" onclick="">X</div>
                                </div>


                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body" style="padding: 7px 0; height: 52px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="padding: 0;/*border: 1px solid blue*/">

                                            <label class="col-sm-1 colunas-label-produtos form-group" style="width: 35px;">Target</label>
                                            <div class="col-sm-2 colunas-form-produtos form-group">
                                                <input id="target-" type="text" class="form-control">
                                            </div>
                                            
                                            <label class="col-sm-1 colunas-label-produtos form-group" style="width: 33px;">Praça</label>
                                            <div class="col-sm-2 colunas-form-produtos form-group">
                                                 <input id="praca-" type="text" class="form-control">
                                            </div>
                                            
                                            <label class="col-sm-1 colunas-label-produtos form-group" style="width: 47px;">Formato</label>
                                            <div class="col-sm-2 colunas-form-produtos form-group">
                                                <select id="formato-" class="form-control select-menor">
                                                    <option>asdf asdf aasdfas</option>
                                                    <option>asdf asdf a</option>
                                                    <option>asdf asdf a</option>
                                                    <option>asdf asdf a</option>
                                                </select>
                                            </div>
                                            
                                            <label class="col-sm-1 colunas-label-produtos form-group" style="width: 82px;">Desc. máximo</label>
                                            <div id="desconto-" class="col-sm-2 colunas-form-produtos form-group" style="font-weight: 600; color: black; padding-top: 4px; width: 15px; font-size:9pt;">
                                                20%
                                            </div>

                                            <div class="col-sm-2 colunas-form-produtos form-group" style="padding-right: 0; position: relative; float: right;width: 95px;">
                                                <button type="button" class="btn btn-default" style="font-size: 8pt; color:#9c9b9b; float:right; margin-right:0; padding:4px 12px;">Inserir período</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="container-periodos">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th style="width:47px; padding-right:0">Mês</th>
                                                <th style="width:47px;">Ano</th>
                                                <th style="width:120px;">Dias</th>
                                                <th style="min-width:85px;">Tot. bruto (R$)</th>
                                                <th style="min-width:72px;">Vol. contrat.</th>
                                                <th style="min-width: 76px;">Tipo compra</th>
                                                <th>CUB*</th>
                                                <th>CUL*</th>
                                                <th style="width:65px;">Desc.(%)</th>
                                                <th>CUBN*</th>
                                                <th>CULN*</th>
                                                <th>Tot. líquido</th>
                                                <th class="bt-fechar-tabela"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tabela-periodos-">
                                                <tr>
                                                    <td style="padding-left:0; padding-right:0">
                                                        <select id="formato-" class="form-control select-menor" style="width:43px; height:25px; padding-right:0">
                                                            <option>Jan</option>
                                                            <option>Fev</option>
                                                            <option>Mar</option>
                                                            <option>Abr</option>
                                                        </select>
                                                    </td>
                                                    <td style="padding-left:0">
                                                        <select id="formato-" class="form-control select-menor" style="width:36px; height:25px;">
                                                            <option>17</option>
                                                            <option>18</option>
                                                            <option>19</option>
                                                            <option>20</option>
                                                        </select>
                                                    </td>
                                                    <td style="padding-bottom:0;">
                                                        <input type="text" id="example_id" name="example_name" value="" />
                                                    </td>
                                                    <td>
                                                        <input id="target-" type="text" class="form-control">
                                                    </td>
                                                    <td style="text-align:center;">100.000.000</td>
                                                    <td>CPV 30s</td>
                                                    <td>R$6,00</td>
                                                    <td>R$4,80</td>
                                                    <td>
                                                            <input id="target-" type="text" class="form-control">
                                                    </td>
                                                    <td>R$4,80</td>
                                                    <td>R$3,80</td>
                                                    <td><div style="color:black; font-weight:600">R$109.206,00</div></td>
                                                    <td class="bt-fechar-tabela"><div id="btexcluir-produto-${this._produtoID}" class="bt-fechar tabela" onclick="">X</div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="infos-rodape-produto">
                                    * <strong>CUB</strong> : Custo Unitário Bruto  |  <strong>CUL</strong> : Custo Unitário Líquido  |  <strong>CUBN</strong> : Custo Unitário Bruto - Negociado  |  <strong>CULN</strong> : Custo Unitário Líquido - Negociado
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="col-xs-12" style="margin: 6px 0 -10px 0; padding-right:0;">
                        <button class="btn btn-primary" style="float:right; font-size: 9pt;" type="button">Salvar veículo</button>
                        <button class="btn btn-danger" style="float:right; font-size: 9pt;" type="button">Excluir veículo</button>
                    </div>
                </div>
            </div> -->


        </div>

        {% include "modal-menor.html" %}

    </div>
</div>


{% endblock %}

{% block scriptsjs %}

    <script>
        var IDProposta    = {{IDProposta}};
        var listaVeiculos = [{% for veic in listaVeiculos %}
                                {
                                id: '{{ veic.id }}',
                                logo_ativo: '{{ veic.logo_ativo }}',
                                logo_inativo: '{{ veic.logo_inativo }}',
                                nome: '{{ veic.nome }}',
                                cor: '{{ veic.cor }}',
                                regras: {{ veic.regras|raw }},
                                status: {{ veic.status }}
                                }{% if not loop.last %},{% endif %}
                            {%  endfor %}];
    </script>

    <script src="{{ __BASEHTML__ }}vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="{{ __BASEHTML__ }}vendors/jquery-mask/jquery.mask.min.js"></script>

    <script src="{{ __BASEHTML__ }}js/classes/proposta.js?{{random()}}"></script>
    <script src="{{ __BASEHTML__ }}js/secoes/componentes_cria_edita_proposta.js?{{random()}}"></script>
    <script src="{{ __BASEHTML__ }}js/secoes/cria_edita_proposta.js?{{random()}}"></script>

    <script>{{MsgErro}}</script>
{% endblock %}