
{% extends "base.html" %}

{% block scriptscss %}
    <!-- NProgress -->
    <link href="{{ __BASEHTML__ }}vendors/nprogress/nprogress.css" rel="stylesheet">
    
    <!-- Ion.RangeSlider -->
    <link href="{{ __BASEHTML__ }}vendors/normalize-css/normalize.css" rel="stylesheet">
    <link href="{{ __BASEHTML__ }}vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="{{ __BASEHTML__ }}vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
{% endblock %}

{% block conteudo %}


<div class="page-title">
    <div class="title_left">
    <h4>Propostas <i class="fa fa-arrow-right setatitulo"></i> Criar / Editar proposta</h4>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12" style="width:100%">
        <div class="x_panel">
            <div class="x_title">
            <h2>Dados gerais </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="btn-toolbar editor">
                    <div class="Grid campos-dados-porposta form-group" style="padding:5px 0 0 0; margin: 0;">
                        <label class="colunas-label-produtos form-group" style="/*width: 53px;*/">Agências</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <select id="proposta-agencia" class="form-control select-menor">
                                    {{selectAgencias|raw}}
                            </select>
                        </div>
 
                        <label class="colunas-label-produtos form-group" style="/*width: 43px;">Clientes</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <select id="proposta-cliente" class="form-control select-menor">
                                    {{selectClientes|raw}}
                            </select>
                        </div>
                        
                        <label class="colunas-label-produtos form-group" style="width: 85px;">Desc. cliente (%)</label>
                        <div class="colunas-form-produtos form-group" style="width: 60px;">
                            <input id="proposta-desconto-cliente" type="text" class="form-control" style="padding:6px; text-align:center" value="{{descontoProposta}}">
                        </div>

                        <label class="colunas-label-produtos form-group" style="/*width: 35px;*/">Título</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <input id="proposta-titulo" type="text" class="form-control" value="{{tituloProposta}}">
                        </div>
                        
                        <label class="colunas-label-produtos form-group" style="/*width: 47px;*/">Contato</label>
                        <div class="Grid-cell colunas-form-produtos form-group">
                            <input id="proposta-contato" type="text" class="form-control" value="{{contatoProposta}}">
                        </div>
                    </div>
                </div>
                 <div style="position: relative; padding-right: 0; bottom: -11px; margin-top: -6px;">
                     <div style="float:left; padding-left:3px; padding-top:6px;">
                        <div style="display:inline-block" >Período da proposta: <span id="periodo-proposta"> ---</div>
                        <div style="display:inline-block"> &nbsp; | &nbsp;  Investimento total: R$ <span id="valor-total-proposta" style="font-weight:600; color:#738cb9">0,00</span></div>
                     </div>
                    <button class="btn btn-primary" style="float:right; font-size: 9pt; margin-left:5px; margin-bottom:5px;" type="button" onclick="salvarProposta()">Salvar proposta</button>
                    <button class="btn btn-danger" style="float:right; font-size: 9pt; margin-left:5px; " type="button" onclick="excluirProposta()">Excluir proposta</button>
                    <button class="btn btn-success" style="float:right; font-size: 9pt;" type="button" onclick="exportarProposta()">Exportar proposta</button>
                </div>
            </div>
        </div>

        <div id="container-bts-veiculos" class="Grid bts-propostas-canais"></div>
        <div id="container-veiculos" class="bloco-veiculos"></div>

        {% include "modal-menor.html" %}

    </div>
</div>


{% endblock %}

{% block scriptsjs %}

    <script>
        var IDProposta    = {{IDProposta}};
        var listaVeiculos = [{% for veic in listaVeiculos %}
                                {
                                id: '{{ veic.id }}',
                                logo_ativo: '{{ veic.logo_ativo }}',
                                logo_inativo: '{{ veic.logo_inativo }}',
                                nome: '{{ veic.nome }}',
                                cor: '{{ veic.cor }}',
                                regras: {{ veic.regras|raw }},
                                status: {{ veic.status }}
                                }{% if not loop.last %},{% endif %}
                            {%  endfor %}];
    </script>

    <script src="{{ __BASEHTML__ }}vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="{{ __BASEHTML__ }}vendors/jquery-mask/jquery.mask.min.js"></script>

    <script src="{{ __BASEHTML__ }}js/classes/proposta.js?{{random()}}"></script>
    <script src="{{ __BASEHTML__ }}js/secoes/componentes_cria_edita_proposta.js?{{random()}}"></script>
    <script src="{{ __BASEHTML__ }}js/secoes/cria_edita_proposta.js?{{random()}}"></script>

    <script>{{MsgErro}}</script>
{% endblock %}